$text-dark-color: #000000;
$text-middle-color: #AD8361;
$text-light-color: #FFFFFF;

$background-dark-color: #000000;
$background-middle-color: #AD8361;
$background-light-color: #FFFFFF;

$border-color: rgba(173, 131, 97, 0.15);

$container-padding-left: 2.5%;
$container-padding-right: 6.95%;

$border-radius: 15px;